@model CodingTest.Models.Product
@{
	var product = Model;
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_Store.cshtml";
}
@section css {
<link href="~/ui/productdetail.css" rel="stylesheet"/>
}

<h2>Detail</h2>



@section script {
<script src="~/ui/productdetail.js"></script>
}